<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<form method="GET">
    <select class="filter" name="filter">
        {% for model in Models %}
            <option value="{{ model }}">{{ model }}</option>
        {% endfor %}
    </select>

    <button type="submit"> Применить</button>
    <table>
        <th>Бортовой номер</th>
        <th>Модель</th>
        <th>Макс. грузоподъемность</th>
        <th>Текущий вес</th>
        <th>Перегруз %</th>
        {% for tipper in Tippers %}
            <tr>
                <td>{{ tipper.board_number }}</td>
                <td>{{ tipper.model }}</td>
                <td>{{ tipper.max_load_capacity }}</td>
                <td>{{ tipper.current_weight }}</td>
                <td>{{ tipper.overload }}</td>
            </tr>
        {% endfor %}
    </table>
</form>
</body>
</html>